@font-face 
  font-family "Voyage"    
  src url("./fonts/Voyage Regular.otf")
@font-face 
  font-family "manrope"    
  src url("./fonts/Manrope-Regular.ttf")
            
 body
        width 100vw
        height 100vh
        font-family "Voyage"
        padding 0
        margin 0
        .loadingScreen
            background black
            z-index  2
            position absolute
            transform: translateY(0)
            width 100%
            height 100%
            // todelete 
            // 
            // 
            display flex
            justify-content: center
            align-items center
            flex-direction column
            h1
                color: white
                letter-spacing 10px
                margin 0
                font-family "Voyage"

            .fakeLoaderContainer
                display flex
                justify-content center  
                align-items center
                height 90px
                .fakeLoaderWhite
                    width 300px
                    overflow hidden
                    height 3px
                    background #cccccc
                    .yellowFiller
                        background #ff7300
                        width 300px
                        height 3px
                        transform translateX(-300px)



    .globalWindow
        background #000 
        // to deleete 
        // 
        // 
        display: flex
        width 100%

        height 100%
        nav 
            display: flex
            justify-content: flex-start
            align-items: center
            color: white
            position: fixed
            padding-left: 30px
            letter-spacing: 10px
            font-weight: lighter
        .radialSun 
                position absolute
                z-index: 1
                border-radius: 500px
                top: 130px
                left 50%
                margin-left: -300px
                width 600px
                height 600px
                opacity 0.9
                background: radial-gradient(circle, rgba(255,115,0,0.643207624846813) 0%, rgba(255,151,24,0) 56%, rgba(255,127,0,0) 100%);
        .beforeExperienceSas
            display flex
            width 100%
            height 100%
            position relative
            overflow hidden
            justify-content center
            opacity 0
            flex-direction: column
            perspective: 600px
            align-items center
            .experienceStarter
                border-radius: 1000px
                border:  #ff7300 1px solid 
                background #000
                display flex
                justify-content: center
                align-items: center
                color: white
                width 120px
                height 120px
                position absolute
                font-size: 12px
                right 60px
                cursor: pointer
                bottom: 60px
            h2
                font-size: 120px
                z-index 5
                position relative
                pointer-events: none
                font-weight: lighter
                color: white
                line-height: 110px
                width 1100px
                text-align: center
                text-transform: uppercase
                letter-spacing: 10px
            h4
                color white
                width 700px
                font-size 20px
                margin-top -30px
                text-align center
.worldContainerBg

    width 100%
    height 100%
    overflow hidden
    position absolute
    top: 0
    z-index: -1
 .textPlaceHolder 
    color: #fff;
    width: 100%
    height 100%
    font-size: 1em;
    opacity 0
    transition: opacity 0.6s ease
    pointer-events none
    position: absolute;
    top 0 
    left 0
    display flex
    .leftInfo
        left 100px
        top: 500px
        position absolute
        text-align: center
        width 400px
        font-size 1.5em
    .rightInfo
        position absolute
        right 70px
        top: 300px
        width 400px

    p
        text-transform: capitalize
        font-family "manrope"
        letter-spacing 2px
    h2
        text-transform: uppercase
        letter-spacing: 10px
    

    .balloonWorld
        width 100%
        height 100%
        opacity: 1

        canvas
            opacity 1



.revealInfo
    opacity: 1