@font-face 
  font-family "Voyage"    
  src url("./fonts/Voyage Regular.otf")
@font-face 
  font-family "manrope"    
  src url("./fonts/Manrope-Regular.ttf")

.experienceStarter
    border-radius 1000px
    border  rgba(15,70,0,1) 2px solid 
    transition all 0.2s ease-out
    background #000
    display flex
    justify-content center  
    align-items center
    color white
    width 120px
    height 120px
    position absolute
    font-size 12px
    right 60px
    cursor pointer
    bottom 60px
     .experienceStarterhover
         border  #65c94b 2px solid 




html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

 body
        width 100vw
        height 100vh
        font-family "Voyage"
        padding 0
        margin 0
        .loadingScreen
            background black
            z-index  600
            position absolute
            transform translateY(0)
            width 100%
            height 100%
            // display none if you want to work directly on the 3D scene ;)
            // 
            // 
            display none
            justify-content center
            align-items center
            flex-direction column
            h1
                color white
                letter-spacing 10px
                margin 0
                font-family "Voyage"

            .fakeLoaderContainer
                display flex
                justify-content center  
                align-items center
                height 90px
                .fakeLoaderWhite
                    width 300px
                    overflow hidden
                    height 3px
                    background #cccccc
                    .yellowFiller
                        background rgba(15,70,0,0.6)
                        width 300px
                        height 3px
                        transform translateX(-300px)



    .globalWindow
        background #000 
        // display none if you want to work directly on the 3D scene ;)
        // 
        // 
        display none
        width 100%
        position relative
        z-index 500
        height 100%
        nav 
            display flex
            justify-content flex-start
            align-items center
            color white
            position fixed
            padding-left 30px
            letter-spacing 10px
            font-weight lighter
        .radialSun 
                position absolute
                z-index 501
                border-radius 500px
                top 130px
                left 50%
                margin-left -300px
                width 600px
                height 600px
                opacity 0.9
                background radial-gradient(circle, rgba(15,70,0,0.6) 0%, rgba(255,151,24,0) 56%, rgba(255,127,0,0) 100%)
        .beforeExperienceSas
            display flex
            width 100%
            height 100%
            position relative
            overflow hidden
            justify-content center
            opacity 0
            flex-direction column
            perspective 600px
            align-items center

            h2
                font-size 120px
                z-index 5
                position relative
                pointer-events none
                font-weight lighter
                color white
                line-height 110px
                width 1100px
                text-align center
                text-transform uppercase
                letter-spacing 10px
            h4
                color white
                width 730px
                font-size 16px
                margin-top -30px
                letter-spacing 2px
                text-align center
.worldContainerBg
    width 100%
    height 100%
    overflow hidden
    background black
    position absolute
    top 0
    z-index 1
    .balloonWorld
        width 100%
        height 100%
        opacity 1
        .bgGradientLayer
            transition all 0.5s ease
        .bgGradientChange1
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(44,116,186,1) 0%, rgba(39,41,66,1) 43%);
            z-index 1
        .bgGradientChange2
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(255,173,59,1) 3%,rgba(62,32,10,1) 41%);
            z-index 1
        .bgGradientChange3
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(124,192,66,1) 0%, rgba(17,50,32,1) 44%);
            z-index 1
        .bgGradientChange4
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(255,91,91,1) 0%, rgba(51,13,13,1)    44%);
            z-index 1
        .bgGradientChange5
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(81,149,255,1) 0%, rgba(3,55,57,1) 44%);
            z-index 1
        .bgGradientChange6
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(17,136,65,1) 0%, rgba(16,17,48,1) 54%);
            z-index 1
        .bgGradientChange7
            position absolute
            width 100%
            height 100%
            background radial-gradient(circle, rgba(187,97,235,1) 0%,rgba(41,5,60,1) 54%);
            z-index 1
        .bgHidden   
            opacity 0




        canvas 
            background transparent
            position relative
            z-index 30
        

 .textPlaceHolder 
    color #fff
    width 100%
    height 100%
    font-size 1em
    opacity 0
    transition opacity 0.6s ease
    pointer-events none
    position absolute
    z-index 31
    top 0 
    left 0
    display flex
    .exitButton
        border-radius 1000px;
        border #0f4600 2px solid;
        transition all 0.2s ease-out;
        background transparent; 
        display flex;
        justify-content center;
        z-index 10001
        align-items center;
        color #fff;
        width 120px;
        top 28px;
        height 120px;
        position absolute;
        font-size 12px;
        right 30px;
        cursor pointer;

    .leftInfo
        left 10px
        bottom -30px
        position absolute
        text-align center
        width 400px
        font-size 2.7em
    .rightInfo
        position absolute
        right 30px
        bottom  50px
        width 400px

    p
        text-transform capitalize
        font-family "manrope"
        letter-spacing 2px
    h2
        text-transform uppercase
        letter-spacing 10px
        font-size 2em
    


.happyEnding
    width 100%
    height 100%
    position absolute
    top 0
    opacity 1
    transform translateY(0)
    display flex
    justify-content center
    flex-direction column
    transition all 0.3s ease
    align-items center
    left 0
    background black
    z-index 1000
    h2
        font-size 5em 
        text-align center
        font-size 72px;
        background -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip text;
        -webkit-text-fill-color transparent;
        width 800px
    .endingButton
        position relative
        text-transform uppercase
        right auto
        bottom auto






.revealInfo
    opacity 1

.exitButton{
    pointer-events auto
    }
    .goUpstairs
        transform translateY(100vh)
        opacity 0